body {
    display: flex; 
    flex-direction: column;  
    margin: 0;
    padding: 0;
}

.section-one {
    background-color: #1F2937;
}
.section-two {
}
.section-three {
    background-color: #E5E7EB;
}
.section-four {
    
}

.footer {
    background-color: #1F2937;
}
.img-ocean {
    border: none;
    width: 300px;
    height: 200px;
}

img {
    width: 160px;
    height: 150px;
  }

/* Styles (Such as text, color, etc)*/
body {
    font-family: "Roboto";
}

/* Section One */
.left-header {
    font-size: 24px;
    font-weight: bold;
    color: #E5E7EB; 
}

a {
    color: #E5E7EB; 
    text-decoration: none;
}

ul {
    list-style: none;
}

.left-content {
    color: white;
}

.title {
    font-size: 48px; 
    font-weight: 900;
}

.description {
    font-size: 18px;
    color: #E5E7EB;
}

.content-button {
    border-radius: 8px;
    border: none; 
    color: white; 
    font-weight: 700;
    background: #3882F6;
    width: 100px; 
    padding: 8px;
}

/* Section Two */
.random {
    font-size: 36px; 
    font-weight: 900;
    color: #1F2937;
}

img {
    border: 5px solid #3882F6;     /* width, style, color */
    border-radius: 8px;            /* rounded corners */
}

.text {
    color: #1F2937;
}
/* Section Three */

.quote {
    font-size: 36px; 
    color: #1F2937;
    font-style: italic;
}

.quote-from {
    font-size: 24px; 
    color:#1F2937;
    font-weight: bold;
}

/* Section Four */
.container-four {
    /* margin: 40px; */
    padding: 20px;
    background-color: #3882F6;
    border-radius: 8px;  
}

.button-four {

    /* Transparent fill so the blue parent shows through */
    background: transparent;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    padding: 8px 16px;

  }
  


/* Footer */

.footer {
    color: white;

}